* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counter {
    position: fixed;
    width: 75px;
    height: 75px;
    background: rgba(255, 255, 255, 0.65);
    top: 1em;
    left: 1em;
    border-radius: 100%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.counter p {
    font-size: 30px;
}

.counter span {
    transform: translateY(-5px);
}

.link {
    display: flex;
    justify-content: flex-end;
}

.bg-color {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #d51111;
    background: linear-gradient(0deg, #d51111 0%, rgba(252, 176, 69, 0) 100%);
    z-index: -1;
}

.bg-color::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
}

.items {
    width: 100%;
    height: 100%;
    padding: 4em 2em;
}

.item {
    width: 40%;
    max-height: 100vh;
    overflow: hidden;
    margin-bottom: 4em;
}

.item-img {
    overflow: hidden;
}

.item-img img {
    will-change: transform;
    transform: scale(1);
    object-fit: cover;
    object-position: center 20%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.item:nth-child(1) .item-img {
    background: rgba(225, 68, 52, 0.8);
}
.item:nth-child(2) .item-img {
    background: rgba(19, 120, 187, 0.8);
}
.item:nth-child(3) .item-img {
    background: rgba(235, 135, 47, 0.8);
}
.item:nth-child(4) .item-img {
    background: rgb(9, 87, 65, 0.8);
}
.item:nth-child(5) .item-img {
    background: rgba(102, 67, 229, 0.8);
}
.item:nth-child(6) .item-img {
    background: rgba(211, 108, 97, 0.8);
}
.item:nth-child(7) .item-img {
    background: rgba(11, 85, 160, 0.8);
}
.item:nth-child(8) .item-img {
    background: rgba(210, 144, 12, 0.8);
}

.item:nth-child(1),
.item:nth-child(5),
.item:nth-child(8) {
    position: relative;
    left: 5%;
}

.item:nth-child(3),
.item:nth-child(7) {
    position: relative;
    left: 20%;
}

.item:nth-child(2),
.item:nth-child(4),
.item:nth-child(6) {
    position: relative;
    left: 50%;
}
